.mat-toolbar{
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}
.productName{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.productNameStrong{
  font-family: MontserratBold;
}

.productNameItali{
  font-family: MontserratItalic;
  font-size: 9pt;
  text-align: center;
}
