.fullWidth{
  width: 100%;
}
.productName{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.productNameStrong{
  font-family: MontserratBold;
}

.productNameItali{
  font-family: MontserratItalic;
  font-size: 9pt;
  text-align: center;
}
